sudo: required
addons:
  apt:
    update: true
    packages:
      - docker-ce
services:
  - docker
script:
  - export DOCKER_CLI_EXPERIMENTAL=enabled
  - source sha_function.sh
  - alpine_arm_sha=$(get_manifest_sha "treehouses/alpine:latest" "arm")
  - echo $alpine_arm_sha
  - alpine_arm64_sha=$(get_manifest_sha "treehouses/alpine:latest" "arm64")
  - echo $alpine_arm64_sha
  - sysmon_arm_sha=$(get_manifest_sha "treehouses/sysmon:latest" "arm")
  - echo $sysmon_arm_sha
  - sysmon_arm64_sha=$(get_manifest_sha "treehouses/sysmon" "arm64")
  - echo $sysmon_arm64_sha
  - flag_arm=$(is_base "treehouses/alpine@"$alpine_arm_sha "treehouses/sysmon@"$sysmon_arm_sha )
  - echo $flag_arm
  - flag_arm64=$(is_base "treehouses/alpine@"$alpine_arm64_sha "treehouses/sysmon@"$sysmon_arm64_sha )
  - echo $flag_arm64
  - echo $DOCKERAPIKEY | docker login -u "sevenseas" --password-stdin
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  - "./docker-build.sh treehouses/alpine:latest arm arm64"
  - flag=$(compare "treehouses/alpine@"$alpine_arm_sha "treehouses/sysmon@"$sysmon_arm_sha "treehouses/alpine@"$alpine_arm64_sha "treehouses/sysmon@"$sysmon_arm64_sha)
  - echo $flag
before_deploy:
  - "./deploy.sh arm"
  - "./deploy.sh arm64"
  - tag_time=$(date +%Y%m%d%H%M)
  - echo $tag_time
  - tag_latest="latest"
  - create_manifest treehouses/sysmon $tag_latest $tag_time treehouses/sysmon-tags:arm treehouses/sysmon-tags:arm64
  - docker manifest inspect treehouses/sysmon:$tag_latest
  - docker manifest inspect treehouses/sysmon:$tag_time
deploy:
  - provider: script
    script: docker manifest push treehouses/sysmon:$tag_latest; docker manifest push treehouses/sysmon:$tag_time
    skip_cleanup: true
    on:
      all_branches: true
      condition: "$flag = true"
env:
  global:
    secure: "UryukYyX9aJKk0j/fM2PM6j5iJtgWMKQIYuf4cwe/w1DPVtj9osv2L1GxR+b7PKjcCARJEc6WaBZ8evqMN5XHaBg6+g/WSw2QdD3pGoxvtE1u9AEb+7b3HHvgfCrC8WM94trEvneMscGUInYO0OkNJckx9pt10+gQZ7tsUIy4od1eZJ2mnLPVgGukUFdWH5JZFOYMZ89hjYD57bTzfrtUnkgOctd7JHWggEm/+kBTxpzCo5eD4QSUDRdoAkcjBw5HwsSQYsXWLu5dUQFVwVhjFeHyykRxbdCiJx1+XHYiYfZHrFBG69PwYzAIr7t7et4fOGkl5PYDQ8kfJrXw1QC0pDn0kcEnIvptSaTBe/6jARpeF0JpbQExKjTJeV/ATcHE7ZOhnhRovCU7Zvy7gIeQq56oSVbn/GO1vXSPpkG9/dm5fNeKHzkHznphmuLRezCKiGEGM2uTNhLCNnSQqAhoNTJy7Oze5gKIql1b6CAv1TGJNGO6iGE7ptT7cDWfsBJQH1VNXid551AhKPxkE5ZhlNRgSFa53o0NE9W2lThLdG1S6yb6FjR3vql+Mxe6iLxzjMY02wNVG/JSqN5EkwGHDjs88QGsgFpAblhw61FXFteqQzASEee4JUwCQCuUQ5g2WVtVK21v05wpHaQSO7kifxrx3ecZSqDH41vyLE3LWw="
